extends layout

block body

  .dashboard
    .row
      .col-lg-2#nav-container
        include leftnavigation.jade
      .col-lg-10#data-container
        .jumbotron
          h3  <span style='color:#2da5ff'>Employee</span> Dashboard
          br
          br
        //  p User #{user.username} Dashboard
         
