.nav-arrow 
ul.nav.nav-pills.nav-stacked.affix.side-nav
  li
    a.cursor.active(href='/manageuser') Manage User
  li
    a.cursor(href='/evaluationlist') Evaluations  
  //- li
  //- a.cursor(href='/rulelist') Rule List
  //- li
  //-   a.cursor(href='/linkedevaluationlist') Link Evaluation
  li
    a.cursor(href='/mailsetting') Email Settings
  li
    a.cursor(href='/theme') Branding
  li
    a.cursor(href='/Jobs') Applicant Tracking
  li
    a.cursor(href='/connector') ATS Connectors
