extends layout

block body

  .register
    .row
      .col-lg-6.col-lg-offset-3
        form.bs-example.form-horizontal(method='post', action='')
          fieldset
            legend Create a New Account
            if error
              .alert.alert-dismissable.alert-danger.register-fail
              button.close(data-dismiss='alert', type='button') &times;
              p.
                #{error}
            .alert.alert-dismissable.alert-info
              button.close(data-dismiss='alert', type='button') &times;
              strong NOTE:&nbsp;
              Your password must be at least 8 characters, and must
              contain lowercase letters, uppercase letters, and numbers.
            .form-group
              label.col-lg-4.control-label(for='username') Username
              .col-lg-4
                input#username.form-control(name='username', type='text', placeholder='Username', autofocus)
            .form-group
              label.col-lg-4.control-label(for='email') Email
              .col-lg-4
                input#email.form-control(name='email', type='email', placeholder='Email')
            .form-group
              label.col-lg-4.control-label(for='givenName') First Name
              .col-lg-4
                input#givenName.form-control(name='givenName', type='text', placeholder='First Name')
            .form-group
              label.col-lg-4.control-label(for='surname') Last Name
              .col-lg-4
                input#surname.form-control(name='surname', type='text', placeholder='Last Name')
            .form-group
              label.col-lg-4.control-label(for='password') Password
              .col-lg-4
                input#password.form-control(name='password', type='password', placeholder='Password')
            .form-group
              .col-lg-10.col-lg-offset-4 
                button.btn.btn-primary(type='submit') Register 
